---
layout: base.njk
---
	
<section id="event" class="flex-col" >	
	<div class="title">
		<h1>{{ title }}</h1>
		{% if date -%}
			<date>
			{{ date | readableDate }}
			{% if endDate %} — {{ endDate | readableDate}} {%- endif -%}
			{% if time %} <span class="divider">—</span> {{ time }} {%- endif -%}
			</date>
		{%- endif %}
	</div>

	<img class="poster flex-child" src="/img/posters/{{ poster }}"></img>

	<article id="description" class="flex-child">
	<h2>{{ blurb }}</h2>
	{{ content | safe }}
	</article>
</section>

<hr>
{% include "partials/map.njk" %}
<hr>
<a class="button" href="/events/">See more events.</a>
<hr>