---
title: About
layout: base.njk
permalink: /about/
---

<section>
<h1>About Sabby</h1>

<p><i>Sabby is currently moving location. We're looking forward to welcoming you at our new home in the future!</i></p>
<p>Sabby is a gathering place by and for artists, game makers, crafters and zinesters of Narrm (Melbourne). We were previously located in what used to be a bánh mì place on Victoria Parade in Collingwood</p>
<p>Sabby has transitioned into a co-op. Read more about this and sign up on our <a href="/join/">Join the Co-op</a> page!</p>

<h2>What Sabby does</h2>

<p>Sabby is a co-working space, a gallery space, an events and functions space, a casual hang out space.</p>

<p>Sabby strives to be a <a href="/safe-space-policy/">safe and inclusive space</a> that can be enjoyed by everyone.</p>


<p>Read some <a href="/testimonials/">Testimonials</a> on the impact Sabby has had on the local industry.</p>

<h2>People of Sabby</h2>

<p>Sabby was founded as Sabbatical Gallery in 2022 by <a href="https://richardadem.com/">Richard Adem</a>, <a href="https://maizewallin.com/">Maize Wallin</a> and <a href="https://inkmo.art/">Kay-Lynn Cavanagh</a>. Since then Sabby has grown considerably, become a co-operative and is now owned by its members and run and maintained by a team of volunteers.</p>
<h3>Co-operative Board</h3>
<ul class="event-list">
    <li>
        <img class="poster-thumb" src="/img/people/alex.jpg">
        <p>
            <b>Alex</b><br/>
            Public engagement
        </p>
    </li>
	<li>
        <img class="poster-thumb" src="/img/people/carey.jpg">
        <p>
            <b>Carey</b><br/>
            Organisation and Activism
        </p>
    </li>
	<li>
        <img class="poster-thumb" src="/img/people/inkmo.jpg">
        <p>
            <b>Kay-Lynn</b><br/>
            Members
        </p>
    </li>
	    <li>
        <img class="poster-thumb" src="/img/people/kira.jpg">
        <p>
            <b>Kira</b><br/>
            Volunteers
        </p>
    </li>
	<li>
        <img class="poster-thumb" src="/img/people/koder.jpg">
        <p>
            <b>Koder</b><br/>
            Co-working
        </p>
    </li>
    <li>
        <img class="poster-thumb" src="/img/people/stella.jpg">
        <p>
            <b>Stella</b><br/>
            Events
        </p>
    </li>
</ul>
<p>Photos and videos of Sabby can be found <a href="https://drive.google.com/drive/folders/1p787gG14-khBGbIsr5cR8kwArIP2SL_V?usp=sharing">here</a>.</p>

<a href="https://fed.coop/"><img src="/img/Members-badge-black-type_100.gif"/></a>
<p>Sabby is a proud <a href="https://fed.coop/members/">member</a> of the <a href="https://fed.coop/">Co-op Federation.</a></p>
</section>

<hr>
{% include "partials/map.njk" %}
<hr>