---
title: About
layout: base.njk
permalink: /about/
---

<section>
<h1>About Sabby</h1>

<p>Located in what used to be a bánh mì place on Victoria Parade in Collingwood, Sabby is a gathering place by and for artists, game makers, crafters and zinesters of Narrm (Melbourne).</p>
<p>Sabby is open on Tuesdays and Wednesdays from 11 a.m. to 6 p.m., as well as during any public event.</p>
<p>Sabby is tranisitioning to become a co-op. Read more about this and sign up on our <a href="/join/">Join the Co-op</a> page!</p>

<h2>What Sabby does</h2>

<p>Sabby is a co-working space, a gallery space, an events and functions space, a casual hang out space.</p>

<p>Sabby strives to be a <a href="/safe-space-policy/">safe and inclusive space</a> that can be enjoyed by everyone.</p>


<p>Read some <a href="/testimonials/">Testimonials</a> on the impact Sabby has had on the local industry.</p>

<h2>People of Sabby</h2>

<p>Sabby was founded in 2022 by <a href="https://richardadem.com/">Richard Adem</a>, <a href="https://maizewallin.com/">Maize Wallin</a> and <a href="https://inkmo.art/">Kay-Lynn Cavanagh</a>. Since then Sabby has grown considerably and is run and maintained by a team of volunteers.
<h3>Co-op Steering Team</h3>
<ul>
    <li>Kay-Lynn Cavanagh</li>
    <li>Maize Wallin</li>
    <li>Nique Vi</li>
    <li>Null</li>
    <li>Stella Karalis</li>
    <li>Zachariah Chandler</li>
</ul>
</section>

<hr>
{% include "partials/map.njk" %}
<hr>