---
title: Contact
layout: base.njk
permalink: /contact/
---

<section id="contact">
	<h1>Get in touch!</h1>

	<p>For general inquiries, you can contact us directly via email at <span class="nw"><a href="{{ site.link.email}}">contact.sabby.gallery [at] gmail.com</a></span>, or ask any question in the <a href="{{ site.link.discord }}" target="_blank">Sabby Discord</a>.</p>

	<p>We would love to hear from you!</p>
</section>

<hr>

<section id="booking">
	<h2>Host an event at Sabby!</h2>
	<p>Do you have an idea for a public event that you think would be perfect for Sabby? You can make a submission here:</p>
	<div>Sabby has hosted:
	<ul>
		<li>Zine Clubs</li>
		<li>Art Nights</li>
		<li>Film Nights</li>
		<li>Tabletop Nights</li>
		<li>Presentation Nights</li>
		<li>Game launches</li>
		<li>Showcases</li>
		<li>Union Meetups</li>
		<li>Gunpla Meetups</li>
		<li>And much more...</li>
	</li>
	</div>
	<p>Tell us about your event! Just fill out the <a href="{{ site.link.bookings }}" target="_blank">application form</a>, and we'll get back to you ASAP!</p>
	<a class="button" href="{{ site.link.bookings }}" target="_blank">Apply for an event</a>
	<p>To help us in continuing to support the community in providing a place to gather, create and learn please consider <a href="/join/">joining the co-op.</a></p>
</section>

<hr>
{% include "partials/socials.njk" %}
<hr>