---
title: Donate
layout: base.njk
permalink: /donate/
blurb: Support Sabby By Donating 
---
<section>
<h1>Donate To Sabby</h1>
<p>Sabby is run and built upon the community but not without the financial support of our members and allies.
The pooled funds of the community go directly back into supporting the community.</p>

<p>We highly encourage that anyone looking to support Sabby signs up for a co-op membership. Information on membership can be found on the <a href="/join/">Join</a> page.</p>

<p>If you would like to donate directly to Sabby outside of or on top of a co-op membership you can donate below. These funds contribute to our running costs such as rent,
outgoings.</p>

<p>For particularly large donations, please contact us directly for bank details, to avoid Square fees.</p>

<p><a href="https://checkout.square.site/merchant/MLFACN9E9RWBV/checkout/5DTR3GLG2URPLCHICFUN5C2K" class="button">Donate</a></p>
</section>