---
title: All Events
layout: base.njk
permalink: /events/
eleventyImport:
	collections: ["upcoming", "recurring", "events"]
---

<style>.frame { --frameBg: var(--grey) }</style>

<section id="upcoming">
	<h1>Upcoming Events</h1>

	<p>These are the events happening this month! You can also check out the <a href="/calendar/">calendar view</a>.</p>

	<ul class="event-list">
	{% for event in collections.upcoming %}
		<li>
		<a href="{{event.url}}"><img class="poster-thumb" src="/img/posters/{{ event.data.poster }}"></a>
		<p><a href="{{event.url}}">{{ event.data.title }}</a>

		<br>{{ event.data.blurb }}</p>
		{# <i>{{ event.data.date | readableDate }} </i> #}
		{% if event.data.date -%}
			<i>
			{{ event.data.date | shortDate }} {% if event.data.endDate %} — {{ event.data.endDate | shortDate }} {%- endif -%}
			{% if event.data.time %} <span class="divider">—</span> {{ event.data.time }} {%- endif -%}
			</i>
		{%- endif %}
		</li>
	{% endfor %}
	</ul>
</section>

<hr>

<section id="recurring">
	<h1>Recurring Events and Expressions of Interest</h1>

	<p>These are our weekly recurring events, call-outs and current Expressions of Interest.</p>

	<ul class="event-list">
	{% for event in collections.recurring %}
		<li> 
		<a href="{{event.url}}">
			{% if event.data.poster -%}
				<img class="poster-thumb" src="/img/posters/{{ event.data.poster }}">
			{%- else %}
				<img class="poster-thumb" src="/img/posters/test-poster.png">
			{%- endif %}
		</a>
		<p><a href="{{event.url}}">{{ event.data.title }}</a>

		<br>{{ event.data.blurb }}</p>
		</li>
	{% endfor %}
	</ul>
</section>
<hr>
<section>
	<a class="button" href="/calendar/">See Event Calendar</a>
	<a class="button" target="_blank" href="https://events.humanitix.com/host/sabby">See Events on Humanitix</a>
	<a class="button" href="/past-events/">See past events</a>
</section>
<hr>