---
title: Welcome
layout: base.njk
permalink: /
---

<section id="blurb">
	<img src="/img/home.jpg" alt="A filtered photo of Sabby during an event.">
	<h1>“A place that belongs to everyone, where everyone can belong.”</h1>
</section>

<section id="intro">
	<p>Sabby is a gathering place for artists, game makers, crafters and zinesters in Narrm (Melbourne).</p>
	<p>We're looking forward to welcoming you for co-working, social events, exhibitions, and all sorts of community activities!</p>
	<ul>
		<li><a href="/join/">Join the Co-op!</a></li>
		<li><a href="/events/">Check out our events!</a></li>
		<li><a href="/contact/#booking">Host an event at Sabby!</a></li>
		<li><a href="{{ site.link.discord }}" target="_blank">Join the Discord</a> to meet cool folks and get the latest updates about events!</li>
	</ul>
</section>

<hr>
{% include "partials/map.njk" %}
<hr>
{% include "partials/socials.njk" %}
<hr>