---
title: Past Events
layout: base.njk
permalink: /past-events/
---

<style>
	.frame {--frameBg: var(--yellow); }

	#past-events .event-list li {
		margin-block: 4px !important;
		padding-block: 0;
	}

</style>

<section id="past-events">
	<h1>Past Events</h1>

	<p>These are all the events that ran at Sabby... so far!</p>

	{% for year in collections.pastByYear %}
	<h2>{{year[0]}}</h2>
	<ul class="event-list">
	{%- for event in year[1] -%}
		<li> <a href="{{event.url}}">
		<img class="poster-thumb" src="/img/posters/{{ event.data.poster }}"></img></a>
		</li>
	{%- endfor -%}
	</ul>
	{% endfor %}
</section>
<hr>
<section>
	<a class="button" href="/events/">See upcoming events</a>
</section>