<section id="links" class="frame flex-col">
	<h3 style="margin: 4px;">Socials</h3>
	<ul class="flex-child socials">
		<li><a href="{{ site.link.bluesky }}"><i class="fa-brands fa-bluesky"></i><span class="visually-hidden">Bluesky</span></a></li>
		<li><a href="{{ site.link.instagram }}"><i class="fa-brands fa-instagram"></i><span class="visually-hidden">Instagram</span></a></li>
		<li><a href="{{ site.link.twitter }}"><i class="fa-brands fa-twitter"></i><span class="visually-hidden">Twitter</span></a></li>
		<li><a href="{{ site.link.twitch }}"><i class="fa-brands fa-twitch"></i><span class="visually-hidden">Twitch</span></a></li>
		<li><a href="{{ site.link.humanitix }}"><i class="fa-solid fa-ticket"></i><span class="visually-hidden">Humanitix</span></a></li>
		<li><a href="{{ site.link.discord }}"><i class="fa-brands fa-discord"></i><span class="visually-hidden">Discord server</span></a></li>
	</ul>
	<div class="flex-child">
		<p>Follow us on social media and join our Discord!</p>
	</div>
</section>
